 
   <div class="continer-fluid">
        <div class="aa">
             <a href="www.instagram.com"><img src="/static/raj-1.jpg" alt="fb"class="rounded-circle log "></a>
             <a href="www.facebook.com"><img src="/static/raj-2.png" alt="insta"class="rounded-circle log-1"></a>
             <a href="www.youtube.com"><img src="/static/raj-3.png" alt="twitt"class="rounded-circle log-1 "></a>
             <a href="www.twitter.com"><img src="/static/raj-5.jpg" alt="lin"class="rounded-circle log-1"></a>
             <a href="www.ping.com"><img src="/static/raj-7.png" alt="yt"class="rounded-circle  log-1"></a></div>
         <div class="row row-13">
           <div class="col-3">
             <h5 class="head-14">Quick Links</h5>
             <h6 class="head-15">Cafe menu</h6>
             <h6  class="head-15">Cafe Finder/Cafe Locator</h6>
             <h6  class="head-15">Customer Care</h6>
         </div>
           <div class="col-3">
             <h5 class="head-14">Cafe Menu</h5>
             <h6 class="head-15">Food For Mood</h6>
             <h6  class="head-15">Hot Classic</h6>
             <h6  class="head-15">All-Time Chiller</h6>
             <h6  class="head-15">All-Day Delights</h6>
             <h6  class="head-15">Sweet Tooth x32</h6>
             <h6  class="head-15">Nutritional info</h6>
         </div>
           <div class="col-3">
             <h5 class="head-16">Shop</h5>
             <h6 class="head-15">Coffee Mugs & Cups</h6>
             <h6 class="head-15">Coffee Makers & Wakecup</h6>
             <h6 class="head-15">Coffee Powder</h6>
             <h6 class="head-15">Gifts</h6>
   
           </div>
           <div class="col-3">
             <h5 class="head-16">About Us</h5>
             <h6 class="head-15">Awards</h6>
             <h6  class="head-15">Business</h6>
             <h6  class="head-15">Bean to Cup</h6>
             <h6  class="head-15">News & Events</h6>
             <h6  class="head-15">Careers</h6>
             <h6  class="head-15">Contact Us</h6>
   
           </div>
         </div>
       </div>