{% load static%}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'home.css' %}">
  <script src="{% static 'home.js' %}"></script>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
   <meta name='viewport' content='width=device-width, initial-scale=1'>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
  <div class="continer-fluid">
    <div class="supermain">
    {% include 'header.html'%}
    
   <div class="container-fluid">
          <div class="row row-8">
            <div class="col-12">
              
              <div id="carouselExamplecontrols" class="carousel slide" data-bs-ride="carousel">
                 
                <!-- The slideshow/carousel -->
                
              <div class="carousel-inner">
             
              <img src="/static/banner-2.jpg"alt="Los Angeles"   width="100%" height="480px">
            </div>
            
            <div class="carousel-item">
              <img src="/static/banner-2.jpg" alt="Chicago"  width="100%" height="480px">
            </div>
             
         
            
            <div class="carousel-item">
              <img src="/static/FOC-Website Banner.png"  alt="foc"  width="100%" height="480px">
            </div>
             
           
          </div>
        
          <!-- Left and right controls/icons -->
              <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
               <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
               <span class="visually-hidden">Previous</span>
    
              </button>
             <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"  aria-hidden="true" ></span>
            <span class="visually-hidden">Next</span>
             </button>
           </div>
            
          </div>
        </div>
 
    <div class="container-fluid">
        <div class="row row-3">
            <div class="col-6">
            <img src="/static/logo cafe two-14.webp" alt="cafe" class="img-design">
            <h3 class="para-6">Cafe Two 14(near Coles)</h3>
            <p class="para-7">Cafe Two 14 offer a premium coffee experience, served with delicious eats and exceptional customer service. 
            An ideal location to catch up with friends, or take a coffee on the go, the baristas at Cafe Two 14 proudly brew the finest coffee seven days a week.</p>
          </div>
            <div class="col-6">
                <img src="/static/cafe two-14.webp" alt="two-14" class="img-desgin2">

            </div>
            
        </div>

    </div>

     <div class="contianer-fiuld">
      <div class="row row-51">
        <div class="col-4 ">
          <img src=" /static/ashu-a.gif" alt="asha" class="img-designin">
        </div>
        <div class="col-4">
          <img src="  /static/ashu-b.gif" alt="asha" class="img-designin">
        </div>
        <div class="col-4">
          <img src="  /static/ashu-c.gif" alt="ashb" class="img-designin">
         </div>
   </div>
   </div>
    
   
  <div class="container-fluid">
      <div class="row row-4">
          <div class="col-6">
          <h4 class="head-6">Visit Cafe Two 24(near Coles) at chermside</h4>
          <div class="dropdown">
              <button type="button" class="btn btn-design dropdown-toggle" data-bs-toggle="dropdown">
                wed 31 aug  7.00 am to 3.00pm
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Today   7.00 am - 3.00pm</a></li>
                <li><a class="dropdown-item" href="#">Tomorrow   7.00 am -3.00pm</a></li>
                <li><a class="dropdown-item" href="#">Sat 3 Sep  8:00am - 3:00pm</a></li>
                <li><a class="dropdown-item" href="#"> Sun 4 Sep  closed</a></li>
                <li><a class="dropdown-item" href="#"> Mon 5 Sep  7.00 am - 3.00pm</a></li>
                <li><a class="dropdown-item" href="#">Tue 6 Sep   7.00 am - 3.00pm</a></li>
              </ul>
            </div> 
            <div>
              <h6 class="head-9">Websites</h6>
            </div>
            <div>
              <h6 class="head-10">Level 1, Located near Coles</h6>
              <a href="map.html" class="a-tag">see on map</a>
            </div>
            <div>
            <h6 class="head-11">Blue Basement, Orange Mezzanine or Gold Rooftop Car Par</h6>
          </div>
          <div> 
          <h6 class="head-11"> Accepts Westfield Gift Cards</h6>
          </div>
          </div>
          <div class="col-6">
              <img src=" /static/cafe-two-17.jpg" alt="cafe-14" class="img-desgin3">
          </div>
        </div>
   </div>

    <div class="container">
    <div class="row row-6">
      <div class="col-6">
      <div class="card card-1">
        <img class="card-img-top img-thumbnail " src=" /static/9makeup.webp" alt="Card image" width="100%" height="50px">
        <div class="card-body">
          <h4 class="card-title">9 makeup essentials to achieve a natural everyday look </h4>
          <p class="card-text"> 
            <h6>The must-have beauty basics to achieve a barely-there makeup look</h6>
           </p>
          <a href="#">Read More</a>
        </div>

      </div>

    </div>
    <div class="col-6 ">
      <div class="card card-2">
        <img class="card-img-top img-thumbnail " src=" /static/stylee.jpg" alt="Card image" width="100%" height="50px">
        <div class="card-body">
          <h4 class="card-title">9 makeup essentials to achieve a natural everyday look </h4>
          <p class="card-text"> 
            <h6>The must-have beauty basics to achieve a barely-there makeup look</h6>
           </p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
   </div>
  </div>
  <div class="container-fluid">
    <div class="row row-18">
      <div class="col-12">
        <div id="carouselExamplecontrols" class="carousel slide ss-slide" data-bs-ride="carousel">
              
          <!-- The slideshow/carousel -->
        <div class="carousel-inner">
        <div class="carousel-item active ">
        <img src="  /static/blog-a.jpg" alt="Los Angeles" class=" d-block w-100" width="100%" height="400px">
      </div>
      <div class="carousel-item">
        <img src=" /static/blog-c.jpg" alt="New York" class=" d-block w-100" width="100%" height="400px">
      </div>
      <div class="carousel-item">
        <img src=" /static/blog-d.jpg" alt="New York" class=" d-block w-100" width="100%" height="400px">
      </div>
      <div class="carousel-item">
        <img src=" /static/blog-e.jpg" alt="New York" class=" d-block w-100" width="100%" height="400px">
      </div>
      <div class="carousel-item">
        <img src=" /static/blog-f.jpg" alt="New York" class=" d-block w-100" width="100%" height="400px">
      </div>
      <div class="carousel-item">
        <img src=" /static/blog-g.jpg" alt="New York" class=" d-block w-100" width="100%" height="400px">
      </div>
      
    </div>
  
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon1" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon1" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
    </div>
    </div>
   </div>

  <div class="container-fluid">
    <div class="row row-14">
      <div class="col-md-12">
        <img src="/static/1.jpg" alt="back" width="100%" height="400px">
        <div class="centered">
          <h1 class="head-31">HELPING VETERANS MOVE FORWARD</h1>
          <p class="head-31">Two 14 Coffee Company's beginnings are founded in the history of the 2nd/14th Light Horse Regiment (Queensland Mounted Infantry). We are a proud Australian small business, serving local communities and giving back to support Australian military veterans and their families.</p>
           <button class= "btn btn-primary">Read Our Story</button> 
        </div>
      </div>
   </div>
  </div>
   <div class="container-fluid">
    <div class="row row-7">
      <h4 class="head-12">We're here to help</h4>
      <div class="col-3">
        <img src=" /static/logo-a.webp" alt="a"class="img-designa" >
    </div>
      <div class="col-3">
        <img src="/static/logo-b.webp" alt="b" class="img-designa">

      </div>
      <div class="col-3">
        <img src="/static/logo-c.webp" alt="c" class="img-designa">

      </div>
      <div class="col-3">
        <img src="/static/logo-d.webp" alt="d" class="img-designa">
       </div>
     </div>
     </div>
     <div class="container-fluid">
     <div class="row row-32">
      <div class="col-md-6 "> 
        <div class="col-design-1">
        <h3 class="head-vv">SIGN UP FOR OUR NEWSLETTER</h3>
        <P class="para-vv">Be the first to know when we launch a new product or when we need your support to rally for a cause.</P>
         <div><input type="text" placeholder="User id" class="text-desgin1">  
         <button type="sign up" class="btn btn-primary">Sign up</button></div> 
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-design-2">
        <h2 class="head-vv">FOLLOW US</h2>
        <p class="para-vv">You know the drill. Show your support by following and sharing our message on social media.</p>
      </div>
    </div>
     </div>
    </div>
  {%include 'footer.html'%}
    
  
    
     

</div>
</div>
 
</body>
</html>