{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'shoponline.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
     <meta name='viewport' content='width=device-width, initial-scale=1'>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="/htmlprog/javascript/shoponline.js"></script>
      <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <div class="continer-fluid">
        <div class="supermain-1">
         <div class="contianer-fiuld">
             <div class="row main-nav-1">
                 <div class="col-12 navmain-1">
                    <p class="para-1">WestField Plus members get more with</p>   
                     <h5 class="head-1">Wdirect</h5></p>
                     <p class="head-2"><span class="glyphicon glyphicon-briefcase"></span>  &emsp; Earn rewords when you click & collect</p>
                      <p class="head-2">Free Delivery for orders $50 and Above</p>
                  </div>
                  <div class=contianer-fluid>
                   <div class="row">
                  <div class="col-8 navmain-2">
                   <div class=" img-desi">
                     <img src="/static/cafe.png" alt="cafre" width=" 50px" height="50px">
                   </div> 
                    <nav class="navbar navbar-expand-lg navbar-light "> 
                  <div class="container navbar-menu"> 
                          <ul class="navbar-nav ">
                          <li class="nav-item active">
                            <a class="nav-link   " href="{% url 'index'%}">Chermside</a>
                          </li>
                          <li class="nav-item ">
                            <a class="nav-link " href="#"> Visit a Centre </a>
                          </li>
                        </ul>
                         </div>
                         </nav>
                         </div>
                     <div class="col-4 navmain-3">
                           <div class="icon-1">
                            <span class="glyphicon glyphicon-search" style="font-size:24px"></span> 
                         </div>
                         <div class="icon-2">
                         <span class="glyphicon glyphicon-user" style="font-size:24px"></span>
                        </div>
                         <div>
                         <p class="para-5">WestField<br> 
                          get more everyday</p>
                         </div>
                         <div class="icon-2">
                           <span class="glyphicon glyphicon-shopping-cart" style="font-size:24px"></span>
                          </div>
                       </div>
                     
                 </div>
                 </div>
                  <div class="container-fluid"> 
                  <div  class="col-12">
                     <div class="row row-3">
                         <div class="col-8">
                          <div class="navbar-1">
                            <a href="#home">Home </a>
                            <a href="#news">News </a>
                            <div class="dropdown">
                              <button class="dropbtn">Dropdown 
                                <i class="fa fa-caret-down"></i>
                              </button>
                              <div class="dropdown-content">
                                <div class="header">
                                  <h2>Mega Menu</h2>
                                </div>   
                                <div class="row">
                                  <div class="column">
                                    <h3>Category 1</h3>
                                    <a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a>
                                  </div>
                                  <div class="column">
                                    <h3>Category 2</h3>
                                    <a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a>
                                  </div>
                                  <div class="column">
                                    <h3>Category 3</h3>
                                    <a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a>
                                  </div>
                                </div>
                              </div>
                            </div> 
                          </div>
                          </div>
                          <div class="col-4">
                             <nav class="navbar navbar-expand-lg "> 
                                 <div class="container-fluid"> 
                                      <ul class="navbar-nav ">
                                      <li class="nav-item active">
                                        <a class="nav-link " href="#"> Brands</a>
                                      </li>
                                      <li class="nav-item ">
                                        <a class="nav-link " href="#"> The Edit</a>
                                      </li>
                                      <li class="nav-item ">
                                        <a class="nav-link " href="#">Gifts Cards</a>
                                      </li>
                                </div>
                                </nav>
                             </div>
                        </div>
                    </div>
                   </div>
                 </div>
             </div>
             <div class="container">
                <div class="row row-21">
                  <div   > 
                  <h1 class="head-aa">OUR COFFEE BLENDS</h1>
                    <a class="head-ss" href="#">view all products</a>
                   </div>
                    <div class="col-md-4">
                      <img id="myImg" src="/static/coffee-bag-iso_cafe-two-14-armoured.webp" alt="Snow" style="width:100%;max-width:300px">
                      <h4>TWO 14 ARMOURED BLEND</h4>
                      <!-- The Modal -->
                      <div id="myModal" class="modal">
                      
                        <!-- The Close Button -->
                        <span class="close">&times;</span>
                      
                        <!-- Modal Content (The Image) -->
                        <img class="modal-content" id="img01">
                      
                        <!-- Modal Caption (Image Text) -->
                        <div id="caption"></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <img id="myImg" src="/static/coffee-bag-iso_cafe-two-14-lighthorse.webp" alt="Snow" style="width:100%;max-width:300px">
                      <h4>TWO 14 LIGHTHORSE BLEND</h4>
                      <!-- The Modal -->
                      <div id="myModal" class="modal">
                      
                        <!-- The Close Button -->
                        <span class="close">&times;</span>
                      
                        <!-- Modal Content (The Image) -->
                        <img class="modal-content" id="img01">
                      
                        <!-- Modal Caption (Image Text) -->
                        <div id="caption"></div>
                      </div>
                    </div>
                  
                    <div class="col-md-4">
                      <img id="myImg" src="/static/coffee-bag-iso_cafe-two-14-premium.webp" alt="Snow" style="width:100%;max-width:300px">
                      <h4>TWO 14 PREMIUM BLEND</h4>
                      <!-- The Modal -->
                      <div id="myModal" class="modal">
                      
                        <!-- The Close Button -->
                        <span class="close">&times;</span>
                      
                        <!-- Modal Content (The Image) -->
                        <img class="modal-content" id="img01">
                      
                        <!-- Modal Caption (Image Text) -->
                        <div id="caption"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cantainer-fluid">
                  <div class="row row-31">
                    <img src="/static/aesop.jpg" alt="Notebook" width="80%" height=" 400px">
                       <div class="content">
                        <h1 class="head-main">Woods.Warmth.Wonder.:Discover Aesop's Eidesis Eau De Perfume</h1>
                        <p  class="head-main">The next chapter poetic Othertopias frangance collection.eidesis is provocative yet comforting seductive yet,disctincly unconventional. </p>
                        <div class="btn-design1"><button type="Read More"class="btn  btn-primary">Read More</button></div>
                      </div>  


                  </div>


                </div>



                <div class="container">
                  <div class="row">
                    <div class="col-4 row-30">
                      <img src="/static/mens.jpg" alt="Avatar" class="image">
                        <div class="overlay"> Mens</div>
                      </div>
                      <div class="col-4 row-30">
                        <img src="/static/women shop.jpg" alt="Avatar" class="image">
                          <div class="overlay"> Women</div>
                        </div>
                        <div class="col-4 row-30">
                          <img src="/static/kids.webp" alt="Avatar" class="image">
                            <div class="overlay"> Kids & ToysS</div>
                          </div>
                           

                    </div>

                  </div>
         

                  <div class="container">
                    <div class="row row-41">
                      <h1  class="head-zz"> Shop by Category</h1>
                      <h4 class="head-zz">Click & Collect at your local Westfield or get it delivered</h4>
                    <div class="col-2 ">
                     <img src="/static/home &livning.jpg" alt="home" class="col-41">                        
                     <h4>Home & Dining</h4>
                    </div>
                   
                    <div class="col-2">
                      <img src="/static/beauty prod.jpg" alt="home" class="col-41">                        
                      <h4> Beauty & Wellness</h4>
                     </div>
                     
                     <div class="col-2">
                      <img src="/static/electronics prod.jpg" alt="home" class="col-41">                        
                      <h4> Elctronics</h4>
                     </div>
                     <div class="col-2">
                      <img src="/static/laugage bag.jpg" alt="home" class="col-41">                        
                      <h4>Luggage Bags & Travel</h4>
                     </div>
                     
                     <div class="col-2">
                      <img src="/static/pet supplies.jpg" alt="home" class="col-41">                        
                      <h4> Pet Supplies</h4>
                     </div>
                     
                     <div class="col-2">
                      <img src="/static/kitchen prod.jpg" alt="home" class="col-41">                        
                      <h4>Kitchen &dining </h4>
                     </div>
                    </div>
                  </div>
                

                  <div class="container">
                    <div class="row row-42">
                      <h3  class="head-zz"> Shop the brands you love</h3>
                    <div class="col-2 ">
                     <img src="/static/soda.webp" alt="home" class="col-42 img-thumbnail">                        
                     
                    </div>
                   
                    <div class="col-2">
                      <img src="/static/bstore.webp" alt="home" class="col-42 img-thumbnail">                        
                    
                     </div>
                     
                     <div class="col-2">
                      <img src="/static/loccottane.webp" alt="home" class="col-42 img-thumbnail">                        
                     
                     </div>
                     <div class="col-2">
                      <img src="/static/bo&.webp" alt= "bo&." class="col-42">                        
                     
                     </div>
                     
                     <div class="col-2">
                      <img src="/static/mystrey planet.webp" alt=" pet" class="col-42">                        
                      
                     </div>
                     
                     <div class="col-2">
                      <img src="/static/m.j bale.webp" alt=" bale" class="col-42">                        
                      
                     </div>
                    </div>
                  </div>

                  <div class="container">
                  <div class="row row-43">
                    <img src="/static/background-imgs.webp" alt="wdrirect" >


                  </div>
                  </div>
          


                  <div class="container ">
                    <div class="row">
                      <div class="col-3  row-44 ">
                        
                      <h2 class="head-cc1">What's New</h2>
                      <h4 class="head-cc2">Hot of the press</h4>
                      </div>
                      <div class="col-3  row-44">
                        <img src="/static/kids&toys.jpg" alt="kids" width="100%" height="250px">

                       <h4 class="head-cc">The best LEGO  set for big And little kids  of the all Ages</h4>
                       <a href="#">Read And Shop</a>
                      </div>
                      <div class="col-3  row-44">
                        <img src="/static/womens.jpg" alt="kids" width="100%" height="250px">
                        <h4 class="head-cc">Lightweight line</h4>
                        <a href="#">Read More</a>
                        </div>
                      <div class="col-3  row-44">
                        <img src="/static/musie.jpg" alt="music" width="100%" height="250px">
                        <h4 class="head-cc">The Music Man</h4>
                        <a href="#">Read More</a>
                      </div>
                    </div>
                    </div>


                    <div class="container">
                      <div class="row">
                        <div class=" col-3 row-45">
                        <img src="/static/qaqaq.jpg" alt="shop" width="100%" height="350px">

                      </div>
                      <div class=" col-3 row-45">
      
                          <div class="card">
                            <img class="card-img-top img-1" src="/static/arm chair.jpg" alt="Card image">
                            <div class="card-body">
                              <h4 class="card-title">Artiss</h4>
                              <p class="card-text"> Artiss Armchairs luonage Chairs Tub Accent Armchairs Fabric Sofa Chairs Wooden</p>
                              <h3>$197.95</h3>
                              <a href="#">See Profile</a>
                            </div>
                        
                      </div>
                      </div>
                      <div class=" col-3 row-45">  
                        
                          <div class="card">
                            <img class="card-img-top img-1" src="/static/coffee table.jpg" alt="Card image">
                            <div class="card-body">
                              <h4 class="card-title">NNVEL</h4>
                              <p class="card-text">NNVEL Hammered Aluminium Coffee Table Brass/Copper Colour Coffee Table</p>
                              <h3>$549.99</h3>
                              <a href="#">See Profile</a>
                            </div>
                          </div>

                    
                      </div>
                      <div class=" col-3 row-45">
                       
                          <div class="card">
                            <img class="card-img-top img-1" src="/static/sideboard.jpg" alt="Card image">
                            <div class="card-body">
                              <h4 class="card-title">Oikiture</h4>
                              <p class="card-text"> Oikiture Side board cabinet Buffet Rattan Furniture  Cupborad Hallway Shelf woods</p>
                              <h3>$129.90</h3>
                              <a href="#"> Shop Now</a>
                            </div>
                        </div>

                     </div>
                    </div>
                  </div>

                  <div class="container ">
                    <div class="row row-46">
                      <h2 class="head-zz"> Todays Top Picks</h2>
                      <div id="courses" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#demo123" data-bs-slide-to="0" class="active"></button>
                          <button type="button" data-bs-target="#demo123" data-bs-slide-to="1"></button>
                          <button type="button" data-bs-target="#demo123" data-bs-slide-to="2"></button>
                        </div>
                       
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                          <div class="carousel-item active ">
                            <div class="card card-1">
                              <img class="card-img-top" src="/static/squiggle.jpg" alt="Card image" width="100%" height=" 200px">
                              <div class="card-body">
                                <h5 class="card-title"> JAG</h5>
                                <p class="card-text">
                                  <h5>Squiggle print linen dress SAND</h5>
                                  <h5>$250.00</h5></p>
                                <a href="#"> Sold by Jag</a>
                              </div>
                             </div>
                           <div class="card card-1">
                            <img class="card-img-top" src="/static/electric car.webp" alt="Card image" width="100%" height=" 150px">
                            <div class="card-body">
                              <h5 class="card-title"> Rigo </h5>
                              <p class="card-text">
                                <h5>Kids Ride On Car Ellectric Cars Toys 12V Range Rover Sport Coupe Inspired Control Cool Rigo</h5>
                                <h5>$175.95 </h5>
                                
                              </p>
                              <a href="#"> Sold by Home &Hearth</a>
                            </div>
                           </div>
                           <div class="card card-1">
                            <img class="card-img-top" src="/static/apple airtag.png" alt="Card image" width="100%" height=" 150px">
                            <div class="card-body">
                              <h5 class="card-title"> Apple</h5>
                              <p class="card-text">
                                <h5> Apple Airtag 4 Pack</h5>
                                <h5>$175.00</h5>
                                
                              </p>
                              <a href="#">Sold By Wireless</a>
                            </div>
                           </div>
                           <div class="card card-1">
                            <img class="card-img-top" src="/static/boradshorts.webp" alt="Card image" width="100%" height=" 150px">
                            <div class="card-body">
                              <h5 class="card-title"> inSight</h5>
                              <p class="card-text">
                                 <h5>Since Never Bordshorts Assorted</h5>
                                 <h5>$79.65</h5>
                              </p>
                              <a href="#"> Sold by General Pants</a>
                            </div>
                            </div>
                          
                             <div class="card card-1">
                            <img class="card-img-top" src="/static/lip mask.png" alt="Card image" width="100%" height=" 200px">
                            <div class="card-body">
                              <h5 class="card-title"> LANEIGE</h5>
                              <p class="card-text">
                                <h5>Laneige Lip Balm Masks-20g</h5>
                                <h5>$18.00</h5>
                               
                              </p>
                              <a href="#">Sold by La Cosmitque</a>
                            </div>
                           </div>

                          </div>
                    <div class="carousel-item ">
                      <div class="card card-1">
                        <img class="card-img-top" src="/static/3D VAR BOX.jpg" alt="Card image" width="100%" height="  200px">
                        <div class="card-body">
                          <h5 class="card-title">BSR </h5>
                          <p class="card-text">
                            <h5>3D Var Box Glasses Gen VR Box Virtual Reality Headest 4-7"-6 phone</h5>
                            <h5>$14.95</h5>
                          </p>
                          <a href="#"> Sold by TODO</a>
                        </div>
                       </div>
                       <div class="card card-1">
                        <img class="card-img-top" src="/static/perfume.jpg" alt="Card image" width="100%" height=" 200px">
                        <div class="card-body">
                          <h5 class="card-title"> GIORGIO ARMANI</h5>
                          <p class="card-text">
                            <h5> Acqua Di Gio Profumo 75ml Edu De Parfum by Giorgio Armain For Mens(bootle)</h5>
                            <h5>$184.95</h5>
                              
                          </p>
                          <a href="#">Sold By Frangance Hevan</a>
                        </div>
                       </div>
                       <div class="card card-1">
                        <img class="card-img-top" src="/static/lamp.jpg" alt="Card image" width="100%" height=" 200px">
                        <div class="card-body">
                          <h5 class="card-title">Though On</h5>
                          <p class="card-text">
                            <h5>Sunset Projection Atomsphere Lamp App &Remote LedLight</h5>
                             <h5>$34.95</h5>
                          </p>
                          <a href="#">Sold By PTC Phone Tech & Comm</a>
                        </div>
                       </div>
                       <div class="card card-1">
                        <img class="card-img-top" src="/static/JORADAN.jpg" alt="Card image" width="100%" height=" 200px">
                        <div class="card-body">
                          <h5 class="card-title">Mitchell & Ness</h5>
                          <p class="card-text">
                            <h5>Micheal Jordan Authetic HWC  96-97 jersey black</h5>
                            <h5>$399.99</h5>
                          </p>
                          <a href="#">Sold by statside Sports</a>
                        </div>
                       </div>
                       <div class="card card-1">
                        <img class="card-img-top" src="/static/costumeking.jpg" alt="Card image" width="100%" height=" 200px">
                        <div class="card-body">
                          <h5 class="card-title">Costume King</h5>
                          <p class="card-text">
                            <h5>Cruel Diva Curella de Vil Villian 101 Dalmatains Movie Devil  Womens Costume</h5>
                            <h5>$108.95-$113.95</h5>
                          </p>
                          <a href="#">Sold by Costume King</a>
                        </div>
                       </div>

                          
                       
                      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                       </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                     <span class="carousel-control-next-icon"></span>
                      </button>
                      </div>
                    </div>
                 </div>
                
                 <div class="container">
                  <div class="row row-47">
                   <div class="col-6 ">
                    <div class="card card-2 ">
                      <img class="card-img-top" src="/static/glasses-1.webp" alt="Card image" width=" 80%" height=" 300px">
                      <div class="card-body card-design1">
                        <h4 class="card-title">The complete home bar guide to cocktail glasses</h4>
                        <p class="card-text">
                          <h5>Outfit planning for Melbourne Cup, Oaks Day or the Sydney Spring Carnival? Discover the options worthy of a Fashions on the Field prize.</h5>
                        </p>
                        <a  href="#">Read More</a>
                      </div>
                     </div>

                      

                    </div>
                    <div class="col-6">
                      <div class="card  card-2">
                        <img class="card-img-top" src="/static/linen light.webp" alt="Card image" width=" 80%" height="300px">
                        <div class="card-body card-design1">
                          <h4 class="card-title">Race Ready:3Trends to wear to the Spring Carnival</h4>
                          <p class="card-text">
                           <h5>Outfit planning for Melbourne Cup, Oaks Day or the Sydney Spring Carnival? Discover the options worthy of a Fashions on the Field prize.</h5>
                          </p>
                          <a href="#">Read More </a>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                  <div class="a1">
                  <div class=" container-fluid">
                    <div class="row row-49">
                    <div class="col-md-4 col-18">
                      <div><a class="head-01" href="#">WestField Direct</a></div>
                     <div><a class="head-00" href="#">About WestField</a></div>
                     <div><a class="head-00" href="#">Click& Collect</a></div>
                     <div><a class="head-00" href="#">Delivery</a></div>
                     <div><a class="head-00" href="#">Rewards</a></div>
                     <div><a class="head-00" href="#">Size Guide</a></div>
                     <div><a class="head-00" href="#">Terms &Condtions</a></div> 
                     <div><a class="head-00" href="#">Direct Promotions</a></div>
                     
                     <div><a class="head-00" href="#">Privacy Statement</a></div>
                     <div><a class="head-00" href="#">FAQs</a></div>
                     </div>
                      <div class="col-md-4 col-18">
                        <div><a class="head-01" href="#">WestField Gifts Cards</a></div>
                     <div><a class="head-00" href="#">Digital Gift Cards</a></div>
                     <div><a class="head-00" href="#">Gift Card</a></div>
                    
                     <div><a class="head-00" href="#">Terms &Condtions</a></div> 
                     <div><a class="head-00" href="#"> Corporate</a></div>
                  

                        
                      </div>
                      <div class="col-md-4 col-18">
                        <div><a class="head-01" href="#">WestField Plus</a></div>
                     <div><a class="head-00" href="#">Login</a></div>
                     <div><a class="head-00" href="#">Join</a></div>
                     
                     <div><a class="head-00" href="#">Terms &Condtions</a></div> 
                     <div><a class="head-00" href="#">Privacy Statement</a></div>
                     <div><a class="head-00" href="#">FAQs</a></div>

                        
                      </div>
                      <br><br><br>
                     <p class="desi-para">We acknowledge the Traditional Owners and communities of the lands on which our business operates. We pay our respect to Aboriginal and Torres Strait Islander cultures and to their Elders past and present</p> <br><br>
                    <p class="desi-para1">Scentre Group operates its Westfield Living Centre portfolio with a responsible business mindest across the four pillars of community, people, environment and economic performance. More information can be found in our 2021 Responsible Business Report.</p>


                    </div>
                    
                  </div>
                </div>

            

 </div>
 </div>         
</body>
</html>
              